/* 人民币配色方案 */
.A1 {background-color:#D3C499;}
.A2 {background-color:#B29887;}
.A3 {background-color:#8E9A76;}
.A4 {background-color:#4D683F;}
.B1 {background-color:#8EACC6;}
.B2 {background-color:#D592B1;}
.B3 {background-color:#ECDFBF;}
.B4 {background-color:#A18AB4;}
.C1 {background-color:#C9B0AB;}
.C2 {background-color:#97B495;}
.C3 {background-color:#CBA9C4;}
.C4 {background-color:#636F85;}
.D1 {background-color:#8AA47D;}
.D2 {background-color:#9FBBD1;}
.D3 {background-color:#EDD8BD;}
.D4 {background-color:#805F56;}
.E1 {background-color:#686882;}
.E2 {background-color:#A799B2;}
.E3 {background-color:#94BEB2;}
.E4 {background-color:#6A8E8C;}
.F1 {background-color:#E2C080;}
.F2 {background-color:#AD79A0;}
.F3 {background-color:#C57E8C;}
.F4 {background-color:#DB657F;}
